*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  overflow-x: hidden;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding-left: 0 !important;
}
